<h1>Editing chatroom</h1>

<%= render "form", chatroom: @chatroom %>

<br>

<div>
  <%= link_to "Show this chatroom", @chatroom,class:"btn btn-outline-secondary" %> |
  <%= link_to "Back to chatrooms", chatrooms_path  ,class:"btn btn-outline-dark m-1" %>
</div>
