<h1>Editing expertise</h1>

<%= render "form", expertise: @expertise %>

<br>

<div>
  <%= link_to "Show this expertise", @expertise %> |
  <%= link_to "Back to expertises", expertises_path %>
</div>
