<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) ,class:"btn btn-outline-secondary m-1"%> |
  <%= link_to "Back to projects", projects_path ,class:"btn btn-outline-dark m-1"%> |
  <%= button_to "Destroy this project", @project, :method => :delete ,class:"btn btn-outline-danger m-1"%>
</div>
